<% provide(:title, "ホーム")%>

<div class="row" id="top-image">
  <div class="center jumbotron" id="top-main">
    <h1 class="text-line">勤怠くん</h1>
    <%= link_to "ログイン", "#", class: "btn btn-lg btn-primary"%>
    <p class="text-line">アカウントの作成は<%= link_to "こちら", "/users/new" %>から</p>
  </div>
  <p class="center text-line">このアプリケーションでは、登録したユーザーの勤怠時刻管理が出来ます。</p>
</div>