<% provide(:title, "ホーム")%>

<div class="row" id="top-image">
  <div class="center jumbotron" id="top-main">
    <h1 class="text-line"><span>勤怠くん</span></h1>
    <%= link_to "ログイン", "#", class: "btn btn-lg btn-primary"%>
    <p class="text-line"><span>アカウントの作成は</span><%= link_to "こちら", "/users/new" %>から</p>
  </div>
  <p class="center text-line"><span>このアプリケーションでは、<br>登録したユーザーの勤怠時刻管理が出来ます。</span></p>
</div>