@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@font-face {
  font-family: myFonts;
  src: url("sample-font.eot") format("eot"),/*For IE*/
  url("sample-font.woff") format("woff"),/*For Modern browser*/
  url("sample-font.ttf") format("truetype");/*For iOS Android*/
}
body {
  padding-top:60px;
  font-family: 'Kosugi Maru', ;
}

section{
  overflow: auto;
}

textarea{
  resize:verticcal;
}

.center{
  text-align:center;
}

.center h1{
    margin-bottom: 30px;
  }

h1{
  font-size:3em;
  letter-spacing:-2px;
  margin-bottom:30px;
  text-align:center;
}

h2{
  font-size:1.2em;
  letter-spacing:-1px;
  margin-bottom:30px;
  text-align:center;
  font-weight:normal;
  color:#777;
}

p{
  font-size:1.1em;
  line-height:1.7em;
}
.jumbotron p{
  font-size:0.9rem;
}
/*  ヘッダー */

#logo{
  float:left;
  margin-left:15px;
  margin-right:10px;
  font-size:1.7em;
  color:#fff;
  text-transform:uppercase;
  letter-spacing:-1px;
  padding-top:9px;
  font-weight:bold;
}

#logo:hover{
  color:#fff;
  text-decoration:none;
}

#top-image{
  background-image: image-url("login.png");
  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
}

span {
  background-color:rbga(255,255,255,1);
}

.signup_link{
  margin-top:15px;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

table{
  width:100%;
  vertical-align:middle;
  text-align:center;
}

th{
  vertical-align: midle;
  text-align:center;
}

/* form */

input, textarea, select, .uneditable-input {
  border-bottom: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  color:red;
  ul{
    color:red;
    margin: 0 0 30px 0;
  }
}


.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* home */
.jumbotron-css{
  height:300px;
  padding-top:15px;
  background-color:white;
}

.jumbotron-css h2{
  font-size: 3.7rem;
  font-weight:bold;
  margin-bottom:0px;
  padding-top:20px;
  padding-bottom:0px;
}

.jumbotron-css h3{
  font-size: 2.5rem;
  font-weight:bold;
}

.right-content{
  margin-top:100px;
}

.jumbotron-css h5{
  margin-top:20px;
}

.en{
  font-family: 'Caveat', cursive;
  text-transform: uppercase;
  font-size:15px;
}

.login-form{
  height:500px;
}

.avater{
  height:100px;
}

.login-btn{
  width:50%;
  border-radius:25px;
  display:block;
  margin:10px auto;
}
